<!-- Botón para mostrar u ocultar el formulario -->
<button
  *ngIf="!empleadoSeleccionado"
  (click)="mostrarFormulario = !mostrarFormulario"
>
  {{ mostrarFormulario ? "Cancelar" : "Agregar Empleado" }}
</button>

<!-- Formulario para agregar empleado (Se muestra solo si mostrarFormulario es true) -->
<form
  *ngIf="mostrarFormulario"
  [formGroup]="empleadoForm"
  (ngSubmit)="empleadoSeleccionado ? actualizarEmpleado() : agregarEmpleado()"
>
  <div>
    <label>Nombre:</label>
    <input type="text" formControlName="nombre" required />
  </div>

  <div>
    <label>Puesto:</label>
    <select formControlName="puesto">
      <option *ngFor="let puesto of puestos" [value]="puesto.puesto">
        {{ puesto.puesto }}
      </option>
    </select>
  </div>

  <div>
    <label>Fecha de Ingreso:</label>
    <input type="date" formControlName="fechaIngreso" required />
  </div>

  <div>
    <label>Salario:</label>
    <input type="text" formControlName="salario" required />
  </div>

  <div>
    <label>Edad (opcinal):</label>
    <input type="text" formControlName="edad" />
  </div>

  <!-- Mostrar botones de guardar y cancelar solo cuando un empleado esté seleccionado para edición -->
  <div *ngIf="empleadoSeleccionado">
    <button type="submit" [disabled]="empleadoForm.invalid">
      Guardar Cambios
    </button>
    <button type="button" (click)="cancelarEdicion()">Cancelar</button>
  </div>

  <!-- Mostrar botón de Agregar Empleado solo si no estamos editando -->
  <div *ngIf="!empleadoSeleccionado">
    <button type="submit" [disabled]="empleadoForm.invalid">
      Agregar Empleado
    </button>
  </div>
</form>

<!-- Tabla de empleados -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Puesto</th>
      <th>Fecha de Ingreso</th>
      <th>Salario</th>
      <th>Edad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.id }}</td>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.puesto }}</td>
      <td>{{ empleado.fechaIngreso }}</td>
      <td>{{ empleado.salario }}</td>
      <td>{{ empleado.edad }}</td>
      <td>
        <button (click)="editarEmpleado(empleado)">Editar</button>
        <button (click)="eliminarEmpleado(empleado.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
